/* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    color: pink;
    text-decoration: none;
}

a:hover{
    color: cyan;
}

li{
    list-style-type: none;
}

.container{
    max-width: 1980px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation Bar */
nav{
    background-color: #0A64BC;
    color: #fff;
    min-width: 100%;
}

nav ul{
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    text-transform: uppercase;    
}

/* Header (section just under Navigation Bar) */
header{
    background-color: #0A64BC;
    color: #fff;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top: #fff 4px solid;
    text-align: center;
}

header h1{
    margin: 20px;
    font-size: 36px;
}

header p{
    margin: 20px;
    font-size: 20px;
}

/* Main Section */
main{
    max-width: 1280px;
    color: #0A64BC;
    border-left: 1px solid #0A64BC;
    border-right: 1px solid #0A64BC;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 3;
    flex-basis: 0;
}

article{
    padding: 20px;
    text-align: justify;
    margin: 10px;
}

article h2{
    text-align: center;
}

article p{
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-top: 15px;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    font-size: 1.1rem;
    line-height: 1.6rem;
    flex-grow: 1;
    flex-basis: 0;
}

aside h3{
    padding: 5px 20px;
    text-align: center;
}

aside p{
    padding: 1px 20px;
    text-align: justify;
    margin-bottom: 30px;
}

aside ul{
    padding: 10px 20px;
    text-align: center;
}

aside ul li{
    padding: 5px;
}

aside a{
    color: #0A64BC;
}

/* Footer */
footer{
    margin-top: auto;
    background-color: #0A64BC;
    color: #fff;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
}

footer section{
    text-align: center;
}

footer p{
    padding: 10px;
}

footer a{
    padding: 4px;
}

footer img{
    width: 20px;
    height: 20px;
}


/* Hamburger Menu Icon */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Slide-in Menu */
.mobile-menu{
    color: #0A64BC;
    position: fixed;
    background-color: #fff;
    top: 75px;
    right: 0;
    width: 90%;
    height: 100%;
    padding: 30px;
    box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
    transition: all 0.3s;
}

.mobile-menu a{
    color: #0A64BC;
    font-size: 20px;
}

.mobile-menu a:hover{
    color: cyan;
}

.mobile-menu ul{
    line-height: 3;
    border-bottom: #0A64BC solid 1px;
    padding: 20px 0;
}

.hidden{
    transform: translateX(100%);
}

.no-scroll{
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 768px){
    nav ul{
        display: none;
    }
    
    .hamburger{
        display: block;
    } 

    main{
        flex-direction: column;
    }

    .articles{
        width: 90%;
        margin: auto;
    }

    aside{
        flex-direction: column;
    }

    .footer-logo, .footer-skip{
        display: none;
    }
}

    